.help-center-header {
    background-image: url('../assets/images/phygit-help-center.png');
}

.container-flex-start {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px 20px;
}

.link-list {
    width: 100%;
}

.justify-content-start {
    justify-content: flex-start;
}