.help-center-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 326px;
    background-position: 50%;
    background-size: 100%;
    background-repeat: no-repeat;
    
}

.help-center-header {
    background-image: url('../assets/images/phygit-help-center.png');
}


.help-center-header h1 {
    font-size: 64px;
}

.info-questions {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
}

.info-questions-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-basis: 31%;
    padding: 30px;
    height: 184px;
    box-shadow: 0 5px 11.2px 2.8px rgb(136 140 133 / 12%);
}

.info-questions-link {
    margin-top: auto;
}

.info-activate {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    margin-top: 80px;
}

.info-activate-item {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 65px;
}

.circle-box {
    display: flex;
    position: absolute;
    left: -65px;
    top: 0;
    height: 100%;
    width: 50px;
}

.info-activate-item > .bold-24px {
    text-align-last: left;
    margin-top: 0;
}

.info-activate-text {
    font-size: 18px;
    margin-top: 25px;
}

.info-share {
    display: flex;
    flex-direction: column;
    row-gap: 35px;
    width: 100%;
    margin-top: 40px;
}

.info-share-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.info-share-item .bold-24px{
    text-align: left;
}

.info-share-item > img {
    width: 650px;
    margin: 0 auto;
}


.info-share-item-descr > .text {
    justify-content: flex-start;
}

.info-share-item-descr {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.circle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: var(--main-phygit-color);
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}

.divider {
    position: absolute;
    display: flex;
    bottom: 0;
    left: 50%;
    width: 3px;
    height: calc(100% - 50px);
    background-color: var(--main-phygit-color);
    transform: translate(-50%, 0);
}

.swiper-instruction-container, .swiper-instruction-1, .swiper-instruction-2, .swiper-instruction-3 {
    width: 100%;
    height: 500px;
}

.swiper-instruction-1, .swiper-instruction-2, .swiper-instruction-3 {
    position: absolute;
    top: 0;
    left: 0;
}

.opacity-0 {
    opacity: 0;
    z-index: -1000;
}

.swiper-instruction-container {
    position: relative;
}

.swiper-insturction-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 58px;
    margin: 40px 0px;
    border-bottom: 1px solid;
    border-bottom-color: rgba(36, 36, 34, .2);
}

#firstSliderBtn, #secondSliderBtn, #thirdSliderBtn {
    display: flex;
    justify-content: center;
    width: 222px;
    height: 100%;
    padding: 15px 20px;
    font-family: "IBM Plex Sans", sans-serif;
    color: var(--main-text-color);
    background-color: var(--bg-gray);
    font-size: 20px;
    cursor: pointer;
    outline: none;
    transition: .2s;
}

.instruction-item > img {
    width: 100%;
    cursor: pointer;
}

.btn-none-border {
    border: none;
}

.active-control {
    border-bottom: 2px solid var(--main-phygit-color);
}

.compatibility-list {
    width: 100%;
    height: 100%;
}

.compatibility-list-item {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    position: relative;
    font-size: 18px;
    cursor: pointer;
    border-bottom: 1px solid rgba(36, 36, 34, .2);
}

.plus {
    width: 18px;
    height: 18px;
    position: absolute;
    right: 25px;
    top: 18px;
}

.plus::after, .plus::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--main-text-color);
    transition: .6s;
}

.plus::after {
    width: 100%;
    height: 2px;
}

.plus::before {
    height: 100%;
    width: 2px;
}

.minus::before{
    height: 0%;
}

.compatibility-sublist {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 100%;
    margin-top: 20px;
    max-height: 0;
    list-style: inside;
    overflow: hidden;
    transition: .6s;
}

.compatibility-list-opened {
    max-height: 2000px;
    margin-bottom: 20px;
}

.descr-block {
    margin-top: 50px;
    width: 770px;
}

.phygital-info {
    row-gap: 25px;
}

.phygital-info > .h2, .phygital-info > .text {
    width: 100%;
    text-align: left;
    margin: 0;
}

.phygital-info-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;
    width: 100%;
    margin-left: 30px;
}


.phygital-info-item-plus {
    position: relative;
}

.phygital-info-item-plus::after {
    content: '✓';
    position: absolute;
    left: -15px;
    bottom: 0px;
    color: var(--main-phygit-color);
}

.phygital-info-item-minus {
    position: relative;
}

.phygital-info-item-minus::after {
    content: '−';
    position: absolute;
    left: -15px;
    bottom: 0px;
    color: var(--error);
}


.info-achivments {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 20px;
    margin-top: 60px;
}

.info-achivments-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 370px;
    min-width: 280px;
}

.info-achivments-item > img {
    max-width: 220px;
}

.info-link {
    display: block;
    margin-top: 10px;
    text-decoration: underline;
}