:root {
    --main-phygit-color: #47B972;
    --main-phygit-hover-color: #358b55;
    --main-text-color: #242422;
    --yellow-text-color: #F2B106;
    --blue-text-color: #05B0FB;
    --bg-gray: #f8f8f8;
    --error: #c83232;
}