.footer {
    width: 100%;
    margin-top: 128px;
    padding-top: 62px;
    padding-bottom: 30px;
    background-color: var(--main-phygit-color);
    color: #fff;
}

.footer > .container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.footer-header {

}

.footer-header > img {
    max-width: 126px;
}

.footer-trademark {
    margin-top: 30px;
    font-size: 16px;
    color: #fff;
}

.footer-links {
    display: flex;
    margin-top: 20px;
    
}

.footer-list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 240px;
}

.footer-list:last-child {
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 10px;
}

.footer-list-item > a > img {
    width: 30px;
}

.footer-list-link {
    color: #fff;
    font-size: 18px;
}

.footer-list-item:first-child {
    font-size: 18px;
    font-weight: 700; 
    text-transform: uppercase;
}

@media (max-width: 767px)  { 
    .footer-header {
        text-align: center;
    }
    .footer-links {
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 50px;
    }

    .footer-list {
        min-width: 45%;
    }

    .footer-list-item {
        display: flex;
        justify-content: center;
        
    }

    .footer-list:last-child {
        flex-direction: row;
        justify-content: center;
        column-gap: 10px;
    }

    .footer-trademark {
        text-align: center;
    }
}