.phygital {
    padding: 128px 0px 64px 0px;
}

.phygital > .container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    column-gap: 20px;
}

.phygital > .container > .h2 {
    text-align: center;
}

.phygital-descr, .phygital-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.phygital-image > img{
    max-width: 570px;
    width: 100%;
}

.phygital-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 25px;
}

.phygital-list .text {
    text-align: left;
}

.phygital-list-item {
    display: flex;
    max-width: 420px;
}

.phygiatal-list-descr {
    width: 100%;
}

.phygital-list-item > img {
    max-width: 50px;
    margin-right: 15px;
}

.phygital-formula {
    margin-top: 30px;
    text-align: center;
}

.phygital-form {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    padding: 24px;
    border-radius: 8px;
    background-color: var(--bg-gray);
    box-shadow: 0 5px 11.2px 2.8px rgb(136 140 133 / 12%);
}

.phygital-wrapper {
    display: flex;
    align-items: center;
    column-gap: 48px;
    width: 100%;
    margin-top: 50px;
}

.phygital-item {
    max-width: 50%;
    flex-basis: 50%;
    flex-wrap: 1;
}

.phygital-item > img{
    width: 100%;
    border-radius: 10px;
}

.phygital-item-100 {
    flex-basis: 100%;
}

.phygit-label {
    position: relative;
    width: 100%;
}

.phygit-input {
    width: 100%;
    height: 42px;
    padding: 12px 21px;
    font-size: 15px;
    border-radius: 7px;
    border: none;
    outline: none;
}

.phygital-video > iframe {
    border-radius: 10px;
    margin-left: 50px;
}

.phygit-textarea {
    height: auto;
    resize: none;
}

.phygit-input::placeholder, option {
    color: rgba(36, 36, 34, .5);
    font-family: "IBM Plex Sans", sans-serif;
}

select {
    color: rgba(36, 36, 34, .5);
}
  
  select::-ms-expand {
    display: none;
  }


.phygit-input:focus {
    outline: auto;
    outline-color: var(--blue-text-color);
}

.align-items-start {
    align-items: flex-start;
    max-width: 95%
}


.phygital-wrapper .h2, .phygital-wrapper .bold-34px {
    text-align: center;
}

@media (max-width: 767px)  {
    
    .phygital {
        padding: 48px 0px 32px 0px;
    }

    .phygital-wrapper {
        flex-direction: column;
        row-gap: 40px;
    }

    .phygital-item {
        max-width: 100%;
        width: 100%;
    }

    .reverse-direction {
        flex-direction: column-reverse;
    }

    .phygital-list {
        align-items: center;
    }
}