.h2 {
    text-align: center;
}

.product-presentaintion-e-card, 
.product-presentaintion-e-label, 
.product-presentaintion-e-video, 
.product-presentaintion-e-track, 
.industries  {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 326px;
    background-position: 50%;
    background-size: 105%;
    padding: 20px 60px;
    background-repeat: no-repeat;
    background-color: var(--bg-gray);
}

.product-presentaintion-e-card, 
.product-presentaintion-e-label, 
.product-presentaintion-e-video, 
.product-presentaintion-e-track,
.industries, h1 {
    font-size: 64px;
}

.product-presentaintion-e-card {
    background-image: url('./assets/images/e-card.png');
}

.product-presentaintion-e-label {
    background-image: url('./assets/images/e-label.png');
}

.product-presentaintion-e-video {
    background-image: url('./assets/images/e-video.png');
}

.product-presentaintion-e-track {
     background-image: url('./assets/images/solutions/e-track.png');
}


.product-subheader {
    font-size: 24px;
    text-align: center;
}

.swiper-idea {
    width: 100%;
}

.products-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 40px;
    margin-top: 60px;
}

.product-list-item {
    max-width: 30%;
    min-width: 240px;
    text-align: center;
}

.product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 260px;
}

.product-item > img {
    width: 50px;
    margin-bottom: 15px;
}


.product-h3 {
    font-size: 32px;
    text-align: center;
    font-weight: 700;
}

.swiper-solutions {
    margin-top: 150px;
}

.swiper-idea {
    margin-top: 60px;
}

.product-partners {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 60px;
    
}

.product-partners .container {
    align-items: center;
}

.product-partners-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-wrap: wrap;
    column-gap: 30px;
    margin-top: 60px;
}

.phygital-video-iframe{
    width: 100%;
    height: 300px;
}

.product-partners-item {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 270px;
    padding: 0 15px;
}

.phygital-video {
    max-width: 570px;
    width: 100%;
}

.product-partners-item > img {
    width: 80%;
}

.section + .swiper-solutions {
    padding: 20px;
}



.industries-description {
    font-size: 32px;
}

.industries-description-highlight {
    margin-top: 35px;
    color: var(--main-phygit-color);
}
