.solutions {
    padding-bottom: 128px;
}

.solutions .bold-14px {
    font-size: 14px;
}

.solutions-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 32px;
    row-gap: 60px;
    margin-top: 60px;
}

.solutions-item {
    position: relative;
    max-width: 368px;
    width: 100%;
}

.solutions-link {
    display: block;
    max-width: 368px;
}

.solutions-link img {
    width: 100%;
    border-radius: 10px;
}

.solutions-item > .card-descr {
    position: absolute;
    bottom: 0;
    left: 50%;
    max-width: 332px;
    width: 110%;
    height: 88px;
    padding: 15px;
    background-color: var(--main-phygit-color);
    text-align: center;
    transform: translate(-50%, 30%);
}

.solutions-item > .card-descr-white {
    bottom: -40px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: rgba(0, 0, 0, 0);
}

@media (max-width: 768px)  { 
    .solutions-item  .bold-24px {
        margin: 0;
    }

    .solutions-item span {
        display: block;
        text-align: center;
    }
}