@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

a {
    -webkit-user-select: none;
    -ms-user-select: none; 
    user-select: none; 
    cursor: pointer;
}

body {
    font-family: "IBM Plex Sans", sans-serif;
    color: var(--main-text-color);
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.section {
    display: flex;
    justify-content: center;
    width: 100%;
}

.block-padding {
    padding: 20px;
}

.container {
    max-width: 1215px;
    width: 100%;
}

.container-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.container-column-reverse {
    
}

.blue, .yellow, .green {
    font-size: 18px;
    font-weight: 700;
}

.blue {
    color: var(--blue-text-color);
}

.yellow {
    color: var(--yellow-text-color);
}

.green {
    color: var(--main-phygit-color);
}

.gray-bg {
    position: relative;
    z-index: -9999;
    background-color: var(--bg-gray);
}

.h2 {
    max-width: 885px;
    text-align: right;
    font-size: 48px;
    line-height: 60px;
}

.h2 {
    max-width: 885px;
    text-align: right;
    font-size: 48px;
    line-height: 60px;
}

.regular-text, .bold-24px {
    margin-top: 15px;
    font-size: 22px;
    font-weight: 400;
    line-height: 31px;
    text-align: center;
}

.bold-regular {
    font-weight: 700;
}

.bold-24px {
    font-size: 24px;
    text-align: right;
    font-weight: 700;
}


.bold-big {
    margin-top: 15px;
    font-size: 34px;
    font-weight: 700;
    line-height: 31px;
}

.card-header, .card-subheader {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}

.card-subheader {
    width: 100%;
    font-size: 14px;
    margin-left: 4px;
    text-align: left;
    text-transform: uppercase;
}

.section-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.text {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
}

.text-important {
    font-size: 18px;
}

.text-subtitle {
    font-size: 24px;
}

.regular-18px {
    font-size: 18px;
    line-height: 32px;
}

.text-margin {
    margin-top: 25px;
}

.text-align-center {
    text-align: center;
}

.text-phygit-color {
    color: var(--main-phygit-color);
}

.descr-block {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    margin-top: 30px;
}

.card-btn {
    display: flex;
    justify-content: center;
    align-self: start;
    width: 146px;
    height: 42px;
    padding: 12px 20px;
    margin-top: auto;
    border: 2px solid var(--main-phygit-hover-color);
    border-radius: 10px;
    background-color: #fff;
    font-size: 15px;
    transition: .2s;
    cursor: pointer;
}


.divider {
    width: 117px;
    height: 3px;
    margin: 0 auto;
    background-color: var(--main-phygit-color);
}

.submit {
    width: 100%;
    background-color: var(--main-phygit-color);
    color: #fff;
    font-weight: 700;
}

.ta-center {
    text-align: center;
}

.icon-box {
    position: relative;
    top: 20px;
    align-self: flex-start;
    width: 50px;
    margin-right: 20px;
}

.icon-box > img {
    width: 100%;
}

.btn-none-border {
    border: none;
}

.product-list-mark{
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: var(--main-phygit-color);
}

.product-list-mark-square {
    width: 22px;
    min-width: 22px;
    height: 16px;
    border: 3px solid var(--main-phygit-color);
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    transform: rotateZ(30deg);
}

.good-to-know {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 15px;
    width: 100%;
    padding: 20px 10px;
    margin-top: 30px;
    border-radius: 5px;
    background-color: var(--light-green-background);
}

.comparison {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 20px;

    display: grid;
    grid-template-columns: 1.1fr 1fr 1fr;
    gap: 40px 80px;
    align-items: center;
}

.comparison .h2 {
    margin: 0;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}

.comparison .h3 {
    margin: 0;
    font-size: 2rem;
    font-weight: 700;
}

@media (max-width: 768px) {
    .h2 {
        text-align: center;
        line-height: 40px;
        font-size: 30px;
    }

    .container-column-reverse {
        flex-direction: column-reverse;
    }

    .regular-text {
        font-size: 18px;
    }

    .bold-big {
        font-size: 24px;
        text-align: center;
    }

        .comparison {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .comparison > .h2 {
        text-align: center;
    }

    .comparison > :first-child {
        display: none;
    }

    .comparison > .h3 {
        grid-column: 1;
        margin-top: 30px;
        margin-bottom: 10px;
        text-align: center;
    }

    .comparison > .text {
        text-align: center;
    }
}